<!DOCTYPE html>

<a href="/logout">Log out</a>
<p>

<form action="/save/" method="POST">
    {% csrf_token %}
    Author: <br><input type="text" name="author">
    <p>
    Name: <br><input type="name" name="name">
    <p>
    Publisher: <br><input type="publisher" name="publisher">
    <p>
    Year: <br><input type="year" name="year">
    <p>
        <input id="button" type="submit" value="Save reference">
</form>

Saved References
<p>
{% for reference in references %}
{{ reference }}
<p>
{% endfor %}